html, body { position: relative; width: 100%; height: 100%; }
body { background: #eee; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; color:#000; margin: 0; padding: 0; }
.wrap { position: relative; width: 100%; height: 100%; }
.swiper-container { width: 100%; height: 100%; }
.swiper-slide { text-align: center; background: #fff;
    /* Center slide text vertically */
    display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }
.swiper-container-v { background: #eee; }
.swiper-pagination-v { bottom: 30px !important; }
.swiper-wrapper { height: 85%; }
.swiper-button-prev, 
.swiper-button-next { font-size: 50px; color: #333; }
.swiper-button-prev::after, 
.swiper-button-next::after { display: none; }
.swiper-slide-active .swiper-container {  }
.swiper-slide-active .swiper-prev-v, 
.swiper-slide-active .swiper-next-v { color: #eee; }
.swiper-slide-active .swiper-prev-v { left: 50px; }
.swiper-slide-active .swiper-next-v { right: 50px; }


.pagination{ margin-top: 1.67em; position: relative; z-index: 10; width: auto; height: auto; font-size: 1.25em; font-weight: 700; color: #333; background-color: transparent; opacity: 1;}
.pagination ul{display: flex; justify-content: center;}
.pagination ul li{ position: relative; margin:0 1.2em; cursor: pointer;}
.pagination ul li.active{color: #ff6600;}
.pagination ul li.active span::after{content: ""; display: block; width: 6px; height: 6px; border-radius: 50%; background-color: #ff6600; position: absolute; top: -14px; left: 50%; transform: translateX(-50%);}